
{% extends "layout.html" %}
{% block title %}
    Quiz
{% endblock %}

{% block main %}
<div class="justify-content-center align-items-center " id= "outer">
       <div class="" >
          <h1 class="text-white" >About</h1>

        <p class="text-white container p-5">
          “If I were to rank everyone in the world socioeconomically, where would I rank in the leaderboard?”


          <br>When I first set out to create this quiz, I wanted a definitive answer, something concrete, a number that I could rely upon if I could do enough research and piece everything together. I wanted to ask questions that cannot be answered subjectively like “Do you feel happy?”. Instead I wanted the result to be as accurate as possible by asking questions that can only be answered objectively.


          I soon realized that this is nearly impossible as there was a disproportionate amount of data within the social classes. In all the research that I scoured on the internet, there was significantly more data on the lower social classes and very little on the higher classes.


          After some more research, I discovered another problem. Different countries' data cannot be directly compared to others, since economies are different, thus the Purchasing Power Parity (PPP) varies from country to country. Additionally, not all countries have the same amount of data to work with. Ex: The US has significantly more data than Viet Nam (my country).

I suppose these are the inherent limitations of trying to compare data on a global scale, but I still wanted some type of answer since there is still some data I could work with that included all countries, albeit more on the lower classes.
    </p>
        </div>
        </div>

{% endblock %}
