{% extends "layout.html" %}
{% block title %}
    Quiz
{% endblock %}

{% block main %}

<div class="justify-content-center align-items-center " id= "outer">
       <div class="" >
          <h1 class="text-white" >Nguyễn Phan Anh</h1>

        <p class="text-white container p-5">
        I am a College student from Việt Nam that is studying in the US. Currently double majoring in Film and Sociology. Ever since I took my first intro to sociology class I have been interested in the inequalities of the world, and how to tackle them. I hope anyone reading this will have learned something new.
        <br>Contact: nguyenphananh912@gmail.com
            </p>
           </div>
        </div>
{% endblock %}
