{% extends "layout.html" %}
{% block title %}
    Country Details
{% endblock %}

{% block main %}
<div class="bg-image d-flex flex-column justify-content-center align-items-center" id="outer">
    <div class="container" id="inner">
        <h1 class="text-white text-center mb-4">Country Details</h1>
        <div class="text-white">
            <p>Your country's income group is: {{ country }}</p>
            <p>This is based on the World Bank's GNI per capita classifications.</p>
            <a class="btn btn-secondary" href="/result" role="button">Back to Results</a>
        </div>
    </div>
</div>
{% endblock %}
