{% extends "layout.html" %}
{% block title %}
    Quiz
{% endblock %}

{% block main %}

<div class="bg-image d-flex flex-column justify-content-center align-items-center" id= "outer">
       <div class="" id="inner">
          <h1 class="text-white" >Accessibility</h1>
    <h2 class="text-white">you are <strong>at least</strong> better than </h2>
    <h1 id="people" class="text-white" >{{access | people}} people</h1>
    <h2 class="text-white" >in the world</h2>

    <br><a class="btn btn-secondary btn-lg" href="/result" role="button">View result again</a><br>
    <br><a class="btn btn-secondary btn-lg" href="/" role="button">Home</a>
    </div>
</div>
{% endblock %}
