{% extends "layout.html" %}
{% block title %}
    Access Details
{% endblock %}

{% block main %}
<div class="bg-image d-flex flex-column justify-content-center align-items-center" id="outer">
    <div class="container" id="inner">
        <h1 class="text-white text-center mb-4">Access Details</h1>
        <div class="text-white">
            <p>Your access score is: {{ access }}</p>
            <p>This score is based on your access to clean water, cooking fuels, electricity, internet, and health services.</p>
            <a class="btn btn-secondary" href="/result" role="button">Back to Results</a>
        </div>
    </div>
</div>
{% endblock %}
