
{% extends "layout.html" %}
{% block title %}
    Quiz
{% endblock %}

{% block main %}
<div class="justify-content-center align-items-center " id= "outer">
       <div class="" >
          <h1 class="text-white container p-2" >Frequently asked Questions</h1>

        <h3 class= "text-white" > Is this quiz to be trusted? </h3>
        <p class="text-white container p-1">
          As much as I want it to be, it is not a yes. Take it as a reference only. There is still some truth to it, as all the statistics are used by real world data. But, I am not a PHD Sociology researcher and cannot claim the validity of the quiz. Additionally, this quiz only works with the amount of data available, and doesn’t take into account many things that comprise a person’s SES.

        <h3 class= "text-white" > How do you determine a person’s socioeconomic status(SES)? </h3>
        <p class="text-white container p-1">
          There have been many ways in the past researches have been used in surveys to determine a person’s SES, one of the common ways are through: Education, Income, and Occupation, some research branching out to even family sizes, accessibility to resources, subjective view of social status,...


These are all amazing foundations to work on, but in my opinion these don't account for regional differences. Therefore, in this quiz I built upon the foundations (while working with the amount of data I have) and deemed the following elements to contribute to a person’s SES: Education, Country, Accessibility, and Wealth.

<br> https://www.apa.org/pi/ses/resources/class/measuring-status
                <h3 class= "text-white" > Why does my country matter?  </h3>
        <p class="text-white container p-1">
          In order to rank everyone on a global scale, there was also a need to rank where a person had come from. Ex: A person from Laos, and a person from England might look at the same amount of wealth the same way. Fortunately, researchers already divided the countries into 4 categories based on its GNI per capita.
        </p>

        </div>
        </div>

{% endblock %}
