{% extends "layout.html" %}
{% block title %}
    Quiz
{% endblock %}

{% block main %}
<div class="bg-image d-flex flex-column justify-content-center align-items-center" id="outer">
    <div class="container text-center" id="inner">
        <h1 class="text-white mb-4">{{ questions[count].question }}</h1>
        <form action="/quiz" method="post">
            <div class="btn-group-toggle" data-toggle="buttons">
                {% for key,value in answer[count].items() %}
                <label class="btn btn-outline-light m-2">
                    <input type="radio" name="radio-stacked" value="{{ key }}" required> {{ value }}
                </label>
                {% endfor %}
            </div>
            <br>
            <button class="btn btn-secondary mt-4" type="submit">Next</button>
        </form>
    </div>
</div>
{% endblock %}
