
{% extends "layout.html" %}
{% block title %}
    Quiz
{% endblock %}

{% block main %}
<div class="justify-content-center align-items-center " id= "outer">
       <div class="" >
          <h1 class="text-white" >Sources</h1>

        <p class="text-white container p-5">
          
History of the eradication of poverty
In the past 200 years, the world has made tremendous progress in ending global poverty.
1820: The vast majority of the world lived in extreme poverty 200 years ago. Only a small elite segment enjoyed higher standards of living. Since then, economic growth has transformed our world, lifting more people out of poverty even while population numbers have multiplied sevenfold.
1945: Following World War II, representatives of 50 countries signed the U.N. Charter, which acknowledged that maintaining peace is connected with improved social development and social justice.
1964: President Lyndon Johnson declared “war on poverty” in the United States.
1970: The number of people living in extreme poverty peaked at 2.2 billion.
1981: The World Bank began collecting data on global poverty. Mostly through household surveys, they found that 44% of the world lived in extreme poverty.
1990: The World Bank defined extreme poverty as people living on $1 or less a day. Around 1.89 billion people, or nearly 36% of the world’s population, lived in extreme poverty. Nearly half the population in developing countries lived on less than $1.25 a day.
1992: The U.N. adopted Agenda 21, committing to work together to combat global poverty using country-specific solutions.
1995: The United Nations brought together the largest gathering of world leaders until then, at the World Summit for Social Development, where leaders wrote the Copenhagen Declaration as a pledge to eradicate poverty.
1997: The U.N. General Assembly declared the First U.N. Decade for Eradication of Poverty from 1997 to 2006, taking the commitment from the Copenhagen Declaration and putting it into action.
2000: All 191 United Nations member states signed the Millennium Development Goals, eight goals to achieve by 2015, including reducing extreme poverty rates — then calculated as people living on less than $1 a day — by half.
2008: The World Bank re-established the international poverty line as people living on $1.25 a day, using 2005 prices for the cost of living. U.N. leaders declared the Second U.N. Decade for Eradication of Poverty from 2008 to 2017, expanding on the success of the first decade and focusing on jobs and income generation as a way to combat poverty.
2010: The Millennium Development Goal of reducing the 1990 extreme poverty rates by half was achieved five years earlier than expected.
2012: The U.N. General Assembly adopted a new resolution about the future they want, recognizing that, “Eradicating poverty is the greatest global challenge facing the world today.”
2015: The World Bank raised the international poverty line from $1.25 a day to $1.90, based on 2011 prices for the cost of living. Also, United Nations member states adopted the Sustainable Development Goals, which include goals to end poverty and hunger in all their forms.
2020: Global poverty is expected to rise for the first time in 20 years. The COVID-19 pandemic threatens to push 88 million to 115 million people into extreme poverty in 2020, with the total rising to as many as 150 million by 2021.
        </p>

        </div>
        </div>

{% endblock %}
