{% extends "layout.html" %}
{% block title %}
    Source
{% endblock %}

{% block main %}
<div class="bg-image d-flex flex-column justify-content-center align-items-center" id="outer">
    <div class="" id="inner">
        <h1 class="text-white">Data Sources</h1>
        <ul class="text-white">
            <li><a href="https://datatopics.worldbank.org/world-development-indicators/the-world-by-income-and-region.html">World Bank Income Classifications</a></li>
            <li><a href="https://www.worldbank.org/en/topic/poverty/brief/multidimensional-poverty-measure">World Bank Multidimensional Poverty Measure</a></li>
            <li><a href="https://datatopics.worldbank.org/education/">World Bank EdStats</a></li>
            <li><a href="https://ourworldindata.org/electricity-access">Our World in Data - Access to Electricity</a></li>
            <li><a href="https://data.worldbank.org/topic/water">World Bank Water Data</a></li>
            <li><a href="https://ourworldindata.org/internet">Our World in Data - Internet Penetration</a></li>
            <li><a href="https://data.worldbank.org/indicator/SH.XPD.CHEX.PC.CD">World Bank Health Expenditure</a></li>
            <li><a href="https://www.cia.gov/the-world-factbook/field/life-expectancy-at-birth/">CIA World Factbook Life Expectancy</a></li>
        </ul>
    </div>
</div>
{% endblock %}
