
{% extends "layout.html" %}
{% block title %}
    Quiz
{% endblock %}

{% block main %}
<div class="justify-content-center align-items-center " id= "outer">
       <div class="" >
          <h1 class="text-white" >Sources</h1>

        <p class="text-white container p-1">
        <dl class="text-white">
            <dt> https://www.theglobaleconomy.com/rankings/Primary_school_completion_rate/</dt>
                <dd>The average Primary School Completion Rate for 2019 based on 63 countries was 90.19 percent </dd>
            <dt> https://www.who.int/news-room/fact-sheets/detail/drinking-water</dt>
                <dd>In 2017, 71% of the global population (5.3 billion people) used a safely managed drinking-water service – that is, one located on premises, available when needed, and free from contamination.
                    </dd>
                <dd>90% of the global population (6.8 billion people) used at least a basic service. A basic service is an improved drinking-water source within a round trip of 30 minutes to collect water.</dd>
                <dd>785 million people lack even a basic drinking-water service, including 144 million people who are dependent on surface water.
</dd>
                <dd>Globally, at least 2 billion people use a drinking water source contaminated with faeces.</dd>


            <dt>https://ourworldindata.org/energy-access#access-to-electricity</dt>
                <dd>
13% of the world do not have access to electricity (roughly 940 million people)
</dd>

                <dd>40% of the world do not have access to clean fuels for cooking (roughly 3 billion people)</dd>
                <dd>The use of solid fuels for cooking is a primary risk factor for deaths and morbidity from indoor air pollution.
</dd>
                        <dt>https://oneill.law.georgetown.edu/how-many-people-lack-access-to-health-care-hint-more-than-who-and-the-world-bank-report/ </dt>
                        <dd>400 million of now more than 7.2 billion people in the world lack access to essential health services </dd>
            <dt>https://news.gallup.com/poll/312401/750-million-struggling-meet-basic-needs-no-safety-net.aspx</dt>
            <dd>Before the pandemic, most of the world was falling into either the High Vulnerability group (14%) or the Moderate Vulnerability group (39%). The rest, 47%, fell into the Low Vulnerability group.</dd>
            <dt> https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups</dt>
            <dd> Countries Categorized by Incomes (GNI per Capita)</dd>

            <dt>https://docs.google.com/document/d/11DqI4WlXMei2MNtpUIWWyo_NJFgkAvd2fpDA0dJwBlo/edit?usp=sharing</dt>
            <dd> Full sources Google Docs (not organized) :( </dd>
        </dl>
        </p>

        </div>
        </div>

{% endblock %}
